@font-face {
  font-family:"ApercuMono";
  src: url("https://lishap.github.io/portfolio/projects/ApercuMono.woff");
}

.header{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  z-index: 6;
}

.name {
  margin-left: 120px;
  margin-bottom: 30px;

  font-family: 'VT323';
  font-size: 48px;
  color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.contact{
  font-family: 'VT323';
  font-size: 48px;
  color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  margin-right: 120px;
  margin-bottom: 30px;
}

.rainbowTitle{
  margin-bottom: 30px;

  font-family: 'VT323';
  font-size: 48px;
  color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  text-align: center;
  transform: translate(-10%, -0%);

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
    all: unset;
}

a:hover {
  color: black;
}

p{
  font-family: 'ApercuMono', mono;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-size: 18px;
  max-width: 1000px;
  margin-bottom:40px;
}

.link {
  text-decoration: underline;
   color: blue;
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.dragme{
    position:absolute;
    cursor: move;
    width: 25%;
    height: auto;
    z-index: 1;
  }

footer{
   margin-bottom:80px;
}

#stamp{
  left: 125px;
  top: 200px;
}

#poster{
  left: 900px;
  top: 210px;
}

#carpentry{
  left: 500px;
  top: 205px;
}

#machine{
  left:400px;
  top: 600px;
}

#puppet{
  left: 650px;
  top: 600px;

}
