
.header{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.name {
  margin-left: 120px;
  margin-bottom: 30px;

  font-family: 'VT323';
  font-size: 48px;
  color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.contact{
  font-family: 'VT323';
  font-size: 48px;
  color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  margin-right: 120px;
  margin-bottom: 30px;
}

.rainbowTitle{
  margin-bottom: 30px;

  font-family: 'VT323';
  font-size: 48px;
  color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  text-align: center;
  transform: translate(-10%, -0%);

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
    all: unset;
}

a:hover {
  color: black;
}

p{
  font-family: 'Work Sans', sans-serif;
  margin-left: 125px;
  margin-right: 125px;
  margin-top: 80px;
  font-size: 18px;
  max-width: 1500px;
}


.dragme{
    position:absolute;
    cursor: move;
    width: 25%;
    height: auto;
  }

#stamp{
  left: 125px;
  top: 200px;
}

#poster{
  left: 900px;
  top: 210px;
}

#carpentry{
  left: 500px;
  top: 205px;
}

#machine{
  left:400px;
  top: 600px;
}

#puppet{
  left: 650px;
  top: 600px;

}
