@font-face {
  font-family:"ApercuMono";
  src: url("https://lishap.github.io/portfolio/projects/ApercuMono.woff");
}


.header{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.name {
  margin-left: 120px;
  margin-bottom: 30px;
  letter-spacing: 0px;
  font-family: 'VT323';
  font-size: 48px;
  color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.link {
  text-decoration: underline;
   color: blue;
}

.contact{
  font-family: 'VT323';
  font-size: 48px;
  color: transparent;
  letter-spacing: -9.5px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  margin-right: 130px;
  margin-bottom: 30px;
}

@media screen and (max-width: 738px) {
  .name{
    font-size: 32px;
  }

  .contact{
    font-size: 32px;
  }

}

.name:hover {
  color: black;
}

.about{
  display: flex;
  align-content: space-around;
  margin-right: 130px;
  font-size: 20px;
  max-width: 1500px;
}

.profilePicture{
  width: 300px;

  margin-left: 126px;
  margin-right: 30px;
}
.aboutText{
  flex-direction: column;
}

.socialIcons{
  align-items: baseline;
}

.socialIcons img{
  margin-right: 4px;
}

a {
    all: unset;
}


p{
  font-family: 'ApercuMono';
}
